apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: shield-project-backend-service
        imagePullPolicy: IfNotPresent
        # The env, resources, and ports must all be aligned under the container
        env:
        - name: MYSQL_HOST
          value: "mysql"  # Matches your ClusterIP Service metadata.name
        - name: MYSQL_USER
          value: "root"
        - name: MYSQL_PASSWORD
          value: "123456"
        - name: MYSQL_DATABASE
          value: "crypto_db"
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5001