# beServices.yaml
apiVersion: v1
kind: Service
metadata:
  name: backend-service  # Changed from 'backend' to 'backend-service'
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 5001
      targetPort: 5001